*{
  margin: 0;
}

body{
    background-color: #333;
}

.list-item{
    background-color: rgb(25, 63, 50);
    padding: 1em;
    width: 50%;
    margin: auto;
    text-align: center;
}

.delete-button{
    position: relative;
    left: 10em; 
}